In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

In [2]:
data=pd.read_csv('Train_Data.csv')

In [3]:
test=pd.read_csv('Test_Data.csv')

In [4]:
data.shape

(4571, 9)

In [5]:
test.shape

(318, 8)

In [6]:
data.columns

Index(['date', 'campaign', 'adgroup', 'ad', 'impressions', 'clicks', 'cost',
       'conversions', 'revenue'],
      dtype='object')

In [7]:
data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4571 entries, 0 to 4570
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         4571 non-null   object
 1   campaign     4571 non-null   object
 2   adgroup      4571 non-null   object
 3   ad           4571 non-null   object
 4   impressions  4571 non-null   int64
 5   clicks       4571 non-null   int64
 6   cost         4571 non-null   float64
 7   conversions  4571 non-null   int64
 8   revenue      4571 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 321.5+ KB

In [9]:
data.describe()

       impressions       clicks         cost  conversions       revenue
count  4571.000000  4571.000000  4571.000000  4571.000000   4571.000000
mean     92.635747    43.340844     2.800834     1.339094    231.865340
std     198.349737   100.164913    14.361618     5.223922   1091.742763
min       1.000000     0.000000     0.000000     0.000000      0.000000
25%       6.000000     2.000000     0.040000     0.000000      0.000000
50%      16.000000     7.000000     0.210000     0.000000      0.000000
75%      84.000000    38.000000     1.350000     1.000000     92.600000
max    3239.000000  1771.000000   531.250000    94.000000  20515.410000

In [10]:
data[data['impressions']=='0'].count()

date           0
campaign       0
adgroup        0
ad             0
impressions    0
clicks         0
cost           0
conversions    0
revenue        0
dtype: int64

In [11]:
data['CTR']=data['clicks']/data['impressions']
test['CTR']=test['clicks']/test['impressions']
data

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,CTR
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0.250000
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0.000000
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0.307692
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0.800000
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0.510121
...,...,...,...,...,...,...,...,...,...,...
4566,28-02-2021,campaign 1,adgroup 3,ad 55,19,6,0.07,0,0.00,0.315789
4567,28-02-2021,campaign 1,adgroup 4,ad 55,1,0,0.00,0,0.00,0.000000
4568,28-02-2021,campaign 1,adgroup 3,ad 56,16,8,0.12,1,93.20,0.500000
4569,28-02-2021,campaign 1,adgroup 1,ad 56,37,13,0.23,0,0.00,0.351351
4570,28-02-2021,campaign 1,adgroup 1,ad 55,19,10,0.14,0,0.00,0.526316

In [12]:
data['CTC']=data['cost']/data['clicks']
test['CTC']=test['cost']/test['clicks']
data['CTC']=data['CTC'].fillna(0)
test['CTC']=test['CTC'].fillna(0)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4571 entries, 0 to 4570
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         4571 non-null   object
 1   campaign     4571 non-null   object
 2   adgroup      4571 non-null   object
 3   ad           4571 non-null   object
 4   impressions  4571 non-null   int64
 5   clicks       4571 non-null   int64
 6   cost         4571 non-null   float64
 7   conversions  4571 non-null   int64
 8   revenue      4571 non-null   float64
 9   CTR          4571 non-null   float64
 10  CTC          4571 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 392.9+ KB

In [13]:
data['CPA']=data['cost']/data['conversions']
data['CPA']=data['CPA'].fillna(0)
test['CPA']=test['cost']/test['conversions']
test['CPA']=test['CPA'].fillna(0)

data

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,CTR,CTC,CPA
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0.250000,0.013333,inf
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0.000000,0.000000,0.0000
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0.307692,0.010000,inf
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0.800000,0.020000,inf
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0.510121,0.010238,0.3225
...,...,...,...,...,...,...,...,...,...,...,...,...
4566,28-02-2021,campaign 1,adgroup 3,ad 55,19,6,0.07,0,0.00,0.315789,0.011667,inf
4567,28-02-2021,campaign 1,adgroup 4,ad 55,1,0,0.00,0,0.00,0.000000,0.000000,0.0000
4568,28-02-2021,campaign 1,adgroup 3,ad 56,16,8,0.12,1,93.20,0.500000,0.015000,0.1200
4569,28-02-2021,campaign 1,adgroup 1,ad 56,37,13,0.23,0,0.00,0.351351,0.017692,inf
4570,28-02-2021,campaign 1,adgroup 1,ad 55,19,10,0.14,0,0.00,0.526316,0.014000,inf

In [14]:
data.replace([np.inf, -np.inf], np.nan, inplace=True)
data['CPA']=data['CPA'].fillna(0)
test.replace([np.inf, -np.inf], np.nan, inplace=True)
test['CPA']=test['CPA'].fillna(0)
data['CPA']

0       0.0000
1       0.0000
2       0.0000
3       0.0000
4       0.3225
         ...
4566    0.0000
4567    0.0000
4568    0.1200
4569    0.0000
4570    0.0000
Name: CPA, Length: 4571, dtype: float64

In [15]:
data['ROI']=data['revenue']/data['cost']
data['ROI']=data['ROI'].fillna(0)
data

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,CTR,CTC,CPA,ROI
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0.250000,0.013333,0.0000,0.000000
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0.000000,0.000000,0.0000,0.000000
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0.307692,0.010000,0.0000,0.000000
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0.800000,0.020000,0.0000,0.000000
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0.510121,0.010238,0.3225,717.604651
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4566,28-02-2021,campaign 1,adgroup 3,ad 55,19,6,0.07,0,0.00,0.315789,0.011667,0.0000,0.000000
4567,28-02-2021,campaign 1,adgroup 4,ad 55,1,0,0.00,0,0.00,0.000000,0.000000,0.0000,0.000000
4568,28-02-2021,campaign 1,adgroup 3,ad 56,16,8,0.12,1,93.20,0.500000,0.015000,0.1200,776.666667
4569,28-02-2021,campaign 1,adgroup 1,ad 56,37,13,0.23,0,0.00,0.351351,0.017692,0.0000,0.000000
4570,28-02-2021,campaign 1,adgroup 1,ad 55,19,10,0.14,0,0.00,0.526316,0.014000,0.0000,0.000000

In [16]:
test

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions,CTR,CTC,CPA
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1,0.404959,0.011837,0.58
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0,0.545455,0.014167,0.00
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0,0.600000,0.016667,0.00
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0,0.500000,0.010000,0.00
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0,0.333333,0.010000,0.00
...,...,...,...,...,...,...,...,...,...,...,...
313,15-03-2021,campaign 1,adgroup 4,ad 55,0.01,1,1,0,1.000000,0.010000,0.00
314,15-03-2021,campaign 1,adgroup 3,ad 55,0.01,5,1,0,0.200000,0.010000,0.00
315,15-03-2021,campaign 1,adgroup 1,ad 55,0.14,25,11,0,0.440000,0.012727,0.00
316,15-03-2021,campaign 1,adgroup 3,ad 56,0.06,9,4,0,0.444444,0.015000,0.00
317,15-03-2021,campaign 1,adgroup 1,ad 56,0.33,67,27,1,0.402985,0.012222,0.33

In [17]:
y=data.pop('revenue')

In [18]:
data1=data[['impressions','clicks','cost','conversions','CTR','CTC','CPA','ROI']]
test1=test[['impressions','clicks','cost','conversions','CTR','CTC','CPA']]

In [19]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
sc.fit(data1[['impressions','clicks','cost','conversions','CTR','CTC','CPA']])
data_scaled=sc.transform(data1[['impressions','clicks','cost','conversions','CTR','CTC','CPA']])
test_scaled=pd.DataFrame(sc.transform(test1))
test_scaled.head()

          0         1         2         3         4         5         6
0  0.037060  0.027668  0.001092  0.010638  0.202479  0.003107  0.010096
1  0.006485  0.006776  0.000320  0.000000  0.272727  0.003718  0.000000
2  0.001235  0.001694  0.000094  0.000000  0.300000  0.004374  0.000000
3  0.000309  0.000565  0.000019  0.000000  0.250000  0.002625  0.000000
4  0.000618  0.000565  0.000019  0.000000  0.166667  0.002625  0.000000

In [20]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(data_scaled, y)

RandomForestRegressor()

In [21]:
predictions =rf.predict(test_scaled)

In [22]:
predictions_df=pd.DataFrame(predictions, columns=['revenue'])
predictions_df
#predictions_df['revenue'] = predictions
predictions_df.to_csv('Predictions2_RFR_hints.csv', index=False)